body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3vh 10vw;
}

.company-name {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    line-height: 26px;
}

.light-blue {
    color: #89C5CC;
}

.bold {
    font-weight: bold;
}

.mulish {
    font-family: "Mulish", sans-serif;
}

nav ul {
    display: flex;
}

ul li {
    margin-left: 20px;
    list-style-type: none;
}

nav ul li a {
    font-size: 18px;
    color: #1F153480;
    text-decoration: none;
}

nav ul li a:hover {
    color: #1F1534;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 0 10vw;
}

h1 {
    font-size: 48px;
    line-height: 150%;
}

main p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 160%;
    color: #7D7987;
}

button {
    background-color: #69B99D;
    color: white;
    padding: 14px 32px 15px 32px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button::before {
    content: url(images/whatsapp-icon.svg);
}