body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3vh 10vw;
}

.company-name {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    line-height: 26px;
}

.light-blue {
    color: #89C5CC;
}

.bold {
    font-weight: bold;
}

.mulish {
    font-family: "Mulish", sans-serif;
}

nav ul {
    display: flex;
}

ul li {
    margin-left: 20px;
    list-style-type: none;
}

nav ul li a {
    font-size: 18px;
    color: #1F153480;
    text-decoration: none;
}

nav ul li a:hover {
    color: #1F1534;
}